<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>We all have some sort of advice for people starting in the Construction Industry, share yours here:</h1>
  <% if (user) { %>
    <h3>Add Advice!</h3>
    <form action="/advices" method="POST">
      <label>
        Advice:
        <input type="text" name="name" value= "" maxlength = "200" autocomplete="off">
      </label>
        
        <label for="tags-input">Tags:</label>
        <select name="tags">
          <option value="Weather">Weather</option>
          <option value="Hygiene">Hygiene</option>
          <option value="Physical Health">Physical Health</option>
          <option value="Tools">Tools</option>
          <option value="Apprentice-Tip">Apprentice Tip</option>
          <option value="Journeymen-Tip">Journeymen Tip</option>
        </select>

      <button type="submit">Add </button>
    </form>
  <% } %>
  </ul>
</section>

<%- include('../partials/footer') %>