<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>We all have some sort of advice for people starting in the Construction Industry, share yours here:</h1>
  <% if (user) { %>
    <h3>Add Advice!</h3>
    <form action="/advices" method="POST">
      <label>
        Advice:
        <input type="text" name="name" value= "" maxlength = "200" autocomplete="off">
      </label>
      <label>
        Tags:
        <input type="checkbox" name="tags">
      </label>
      <button type="submit">Add </button>
    </form>
  <% } %>
  </ul>
</section>

<%- include('../partials/footer') %>