html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default but can be overridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #1a1a1a;
  background-image: url("https://i.imgur.com/Nlrk9Il.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  background-repeat: no-repeat;
  color:#F1D302;
  text-decoration: none;
}

a:link {
  color:#F1D302;
}

a:visited {
  color:#42ee2f;
  font-weight: bold;
}

a:active {
color:#F1D302;
}

#welcomeText{
  margin: 30px 0px 30px 30px;
}

#introTextIndex {
  display: flex;
  column-count: 2;
  flex-direction: column;
  color:#F1D302;
  font-size: 20px;
  font-family: Roboto;
  margin: 30px 0px 30px 30px;
}

#profileAvatar{
  margin: 0px 0px 0px 70px;
}

nav {
  background-color: #5C6B73;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  min-height: 60px;
}

.adviceBtn {
  background-color: black;
  color: #F1D302;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-radius: 20px;
  width: 100px;
  height: 35px;
  font-size: 28px;
}

.profileBtn {
  background-color: black;
  color: #F1D302;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-radius: 20px;
  width: 110px;
  height: 35px;
  font-size: 28px;
}

.logoutBtn {
  background-color: black;
  color: #F1D302;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-radius: 20px;
  width: 110px;
  height: 35px;
  font-size: 28px;
}

#addAdviceBtn {
  background-color: #5C6B73;
  color: #F1D302;
  border-radius: 20px;
  width: 110px;
  height: 35px;
  font-size: 18px;
}

#editAdviceBtn {
  background-color: #5C6B73;
  color: #F1D302;
  border-radius: 20px;
  width: 110px;
  height: 35px;
  font-size: 18px;
}

#showEditBtn {
  background-color: #5C6B73;
  color: #F1D302;
  border-radius: 20px;
  width: 110px;
  height: 35px;
  font-size: 18px;
  justify-content: center;
  
}

#showRatingBtn {
  background-color: #5C6B73;
  color: #F1D302;
  border-radius: 20px;
  width: 140px;
  height: 40px;
  font-size: 18px;
  justify-content: center;
}

#showDeleteBtn {
  background-color: #5C6B73;
  color: #F1D302;
  border-radius: 20px;
  width: 125px;
  height: 40px;
  font-size: 18px;
  justify-content: center;
}

#showAdviceEjs{
  margin: 30px 0px 30px 30px;
}

#adviceIntroFrom{
  font-size: 32px;
  background-color: #5C6B73;
  width: 300px;
}

#adviceText {
  font-size: 28px;
}

#adviceIndexText {
  font-size: 22px;
}

#topicTagText {
  font-size: 24px;
  background-color: #5C6B73;
  width: 300px;
}

#tagText{
  font-size: 20px;
}

.showBtns {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#adviceInput {
  color:black;
  font-size: 20px;
  border-radius: 20px;
}

#tagsAdviceIndexInput{
  border-radius: 20px;
  color:black;
  font-size: 20px;
  width: max-content;
  height: fit-content
}

main {
  display: flex;
  color: #F1D302;
  flex-direction: column;
  column-count: 2;

}

#adviceSection {
  margin: 30px 0px 30px 0px;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
}

#addMultipleTags {
  background-color: #5C6B73;
  color: #F1D302;
  border-radius: 20px;
  width: 170px;
  height: 35px;
  font-size: 18px;
}

input[type=text] {
  padding:10px;
  margin:10px 0;
}

footer {
  background-color: #5C6B73;
  color: #F1D302;
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-content: center;
  align-items: center;
  
}

/* Profile CSS */

#bioSubmitBtn {
  background-color: #5C6B73;
  color: #F1D302;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  font-size: 28px;
}

#bioAddBtn {
  background-color: #5C6B73;
  color: #F1D302;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  font-size: 28px;
  margin: 30px 0px 30px 0px;
}

#selfProfileSection {
  margin-left: 30px;
}

#bioNameInput {
  border-radius: 20px;
}

#bioTradeInput {
  border-radius: 20px;
}

#bioLocationInput{
  border-radius: 20px;
}

#bioYearsInput{
  border-radius: 20px;
}

#bioLocalInput{
  border-radius: 20px;
}

#profileShowAvatar{
  margin: 30px 0px 10px 0px;
}


/* Star Rating Radio CSS Code Below */
*{
  margin: 0;
  padding: 0;
}
.rate {
  float: left;
  height: 46px;
  padding: 0 10px;
}
.rate:not(:checked) > input {
  position:absolute;
  top:-9999px;
}
.rate:not(:checked) > label {
  float:right;
  width:1em;
  overflow:hidden;
  white-space:nowrap;
  cursor:pointer;
  font-size:30px;
  color:#ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #F1D302;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #42ee2f;
}

#ratingBtn {
  background-color: #5C6B73;
  color: #F1D302;
  align-content: center;
  justify-content: center;
  text-align: center;
  justify-items: center;
  width: 200px;
  height: 50px;
  font-size: 28px;
  margin: 30px 0px 30px 0px;
}
